<div class = "dropdown" id = "profile-dropdown">
    <a href = "/account"><i class = "material-icons">person</i>Profile</a>
    <a href = "/logout"><i class = "material-icons">input</i>Logout</a>
</div>