/* Coolors Exported Palette - coolors.co/f2efea-fc7753-66d7d1-403d58-dbd56e */

/* HSL */
$color1: hsla(38%, 24%, 93%, 1);
$color2: hsla(13%, 97%, 66%, 1);
$color3: hsla(177%, 59%, 62%, 1);
$color4: hsla(247%, 18%, 29%, 1);
$color5: hsla(57%, 60%, 65%, 1);

/* RGB */
$color1: rgba(242, 239, 234, 1);
$color2: rgba(252, 119, 83, 1);
$color3: rgba(102, 215, 209, 1);
$color4: rgba(64, 61, 88, 1);
$color5: rgba(219, 213, 110, 1);