<!DOCTYPE HTML>
<html>
  <head>
    <title>Finish Creating Account</title>
    <%- include partials/meta.ejs %>
    <style>
      header{
        padding-top: 64px;
      }
    </style>
  </head>
  <body>
    <header class = "background-primary">
      <h1>Page not found</h1>
    </header>
    <br>
    <main class = "center-text">
        <h1>The thing you were looking for was not found</h1>
        <p>Perhaps it's time to head <a href = "/">home</a>?</p>
    </main>
  </body>
</html>