<!DOCTYPE HTML>
<html>
    <head>
        <title>Account | Generic Quiz Game</title>
        <meta charset = "utf-8">
        <%- include partials/meta.ejs %>
    </head>
    <body>
        <header class = "background-primary">
            <img class = "pfp" src = "<%=pfp%>">
            <h1><%=username%></h1>
        </header>

        <main>
            <!-- vvv Dumb shit vvv -->

            <div class = "Lists"> 
                <ul class = 'SetsList'>
                    <li>placeHolderText</li>
                    <ul >
                            <li>pee</li>
                            <li>pee</li>
                            <li>pee</li>
                            <li>pee</li>
                    </ul>
                </ul>
                <ul class='FriendsList'>  
                    <li> FriendsList</li>  
                    <ul>
                        <li>You have</li>
                        <li>No friends</li>
                    </ul>
                </ul>    
            </div>  
        </main>

    </body>
</html> 