<!DOCTYPE HTML>
<html>
    <head>
        <title>Account | Generic Quiz Game</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta charset = "utf-8">
        <link rel = "stylesheet" href = "static/style.css">
    </head>
    <body>
        <main>
            <header class = "background-primary">
                <img class = "pfp" src = "<%=pfp%>">
                <h1><%=username%></h1>
            </header>
        </main>
        <aside>

        </aside>
    </body>
</html>