<!DOCTYPE HTML>
<html>
    <head>
        <title>Account | Generic Quiz Game</title>
        <meta charset = "utf-8">
        <%- include partials/meta.ejs %>
    </head>
    <body>
        <header class = "background-primary">
            <img class = "pfp" src = "<%=pfp%>">
            <h1><%=username%></h1>
        </header>
        <aside>

        </aside>
    </body>
</html>