<!DOCTYPE HTML>
<html>
    <head>
        <title>Account | Generic Quiz Game</title>
        <meta charset = "utf-8">
        <%- include partials/meta.ejs %>
    </head>
    <body>
        <main>
            <header class = "background-primary">
                <img class = "pfp" src = "<%=pfp%>">
                <h1><%=username%></h1>
            </header>
        </main>
        
        <!-- vvv Dumb shit vvv -->

        <!-- <div class = "Lists"> 
            <ul class = "SetsList";>
                <li>placeHolderText</li>
                <ul >
                    <li>peepee</li>
                    <li>poopoo</li>
                </ul>
            </ul>
            <ul class = "FriendsList">  
                <li> FriendsList</li>  
                <ul>
                    <li>You have</li>
                    <li>No friends</li>
                </ul>
            </ul>    
        </div> -->

    </body>
</html> 