<!DOCTYPE HTML>
<html>
  <head>
    <title>Finish Creating Account</title>
    <%- include partials/meta.ejs %>
  </head>
  <body>
    <header class = "background-primary">
      <h1>Finish Creating Your Account</h1>
    </header>
    <br>
    <main class = "center-text">
      <div class="error">
        <% if (this.err) { %>
          <%=err%>
        <% } %>
      </div>
      <form action = "/create-account" method = "POST">
        <label>Username</label>
        <input type = "text" name = "username" maxlength="30"><br><br>
        <input type = "submit" value = "Create">
      </form>
    </main>
  </body>
</html>