<!DOCTYPE HTML>
<html>
  <head>
    <title>Finish Creating Account</title>
    <style>
      .error{
        color:white;
      }
    </style>
  </head>
  <body>
    <h1>Finish Creating Your Account</h1>
    <div class="error">
      <% if (this.err) { %>
        <%=err%>
      <% } %>
    </div>
    <form action = "/create-account" method = "POST">
      <label>Username</label>
      <input type = "text" name = "username" maxlength="30"><br><br>
      <input type = "submit" value = "Create">
    </form>
  </body>
</html>