<!DOCTYPE HTML>
<html>

<head>
    <title>Create New Set</title>
    <%- include partials/meta.ejs %>
    <style>
        /* container */
        .container{
            background: white;
            box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
            display: block;
            padding: 16px 32px;
            margin: 32px 0px;
            position: relative;
        }

        /* term */
        .term{
            white-space: nowrap;
        }
        .term input{
            width: calc(50% - 40px);
            white-space: initial;
            margin: 0px 8px;
        }

        /* add term button */
        #add-term{
            cursor: pointer;
        }
        #add-term b{
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            display: block;
        }
    </style>
</head>

<body>
    <header class = "background-primary">
        <h1>Create Set</h1>
    </header>
    <main>
        <form action = "/create-set" method = "POST">
            <label>Set Name: </label>
            <input maxlength = "30" type = "text" name = "setname" required>

            <div id = "terms">
                <div class = "term container">
                    <input type = "text" name = "terms" placeholder = "term" required>
                    <input type = "text" name = "definitions" placeholder = "definition" required>
                </div>
            </div>

            <div id = "add-term" class = "container" style = "font-size: 14px">
                <b><i class = "material-icons" style = "vertical-align: bottom;font-size:18px;margin-right:4px;">add</i>Add Term</b>
            </div>

            <button class = "background-secondary">Create Set</button>
        </form>
    </main>
    <script src = "/static/create-set.js"></script>
</body>

</html>