<!DOCTYPE HTML>
<html>
    <head>
        <title>Game!</title>
        <%- include partials/meta.ejs %>
        <style>
            /*move this shit to style*/
            main{
                text-align: center;
                position: relative;
                height: calc(100% - 252px);
            }
            #qstn{
                font-family: "PT-Sans", sans-serif;
                font-size: 28pt;
                position: relative;
                margin: 0;
                line-height: 200px;
            }
            .question_head{
                position: relative;
                height: 200px;
                padding: 0;
            }
            .qMan{
                height: 150px;
                width: auto;
                padding-top: 50px;
            }
            #qMan_left{
                position: absolute;
                left: 80px;
            }
            #qMan_right{
                position: absolute;
                right: 80px;
            }
            body{
                height: 100vh;
            }

            .page{
                display: none;
                width: 100%;
                height: 100vh;
            }
            .start-page{
                display: block;
            }

            #lobby header{
                padding: 32px 0px;
            }
            #lobby header h1{
                font-size: 56px;
                margin: 0
            }
            #lobby header p{
                margin: 0;
            }
            #player-count{
                font-weight: 700;
                font-size: 24px;
                text-transform: uppercase;
            }

            .player{
                width: calc(33% - 64px);
                margin: 32px;
                display: inline-block;
                font-weight: 700;
                font-size: 18px;
            }
            #results header .material-icons{
                font-size: 34px;
                vertical-align: top;
                margin-right:8px;
            }
            #results header{
                padding-top: 64px;
            }
            #results header.correct{
                background: #4CAF50;
            }
            #results header.incorrect{
                background: #F44336
            }
            #results header h1{
                display: inline-block;
            }
            #results header p{
                margin: 0;
            }
            #results table{
                width: 80%;
                box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
            }
            #results table tr *:nth-child(1){
                width: 48px;
            }
            #results table th, #results table td{
                text-align: left;
                padding: 16px;
            }
            #gameover_buttons{
                text-align: center;
                position: absolute;
                bottom: 50px;
            }
            table{
                text-align: center;
            }

            #gameover
        </style>
    </head>
    <body>
        <div class = "page" id = "join">
            <header class = "background-primary">
                <nav>
                    <a href = "/">
                        <h1>Generic Quiz Game</h1>
                    </a>
                    <div class = "links">
                        <a href = "/create-set"><i class = "material-icons">add</i>Create</a>
                        <a href = "/play"><i class = "material-icons">play_arrow</i>Join Game</a>
                    </div>
                    <div class = "profile" id = "profile-button">
                        <span id = "username"><%=username%></span><i class = "material-icons">arrow_drop_down</i>
                    </div>
                    <%- include partials/dropdown.ejs %>
                </nav>
                <h1>Join Game</h1>
            </header>
            <main>
            <div class = "center-text">
                <form id = "join-form">
                    <p class = "error" id = "join-error">Error</p>
                    <b>Enter Join Code: </b>
                    <input type = "text" style = "margin-left: 8px;" id = "join-code">
                    <br><br>
                    <button class = "background-secondary">Join Game</button>
                </form>
            </div>
            </main>
        </div>
        <div class = "page" id = "lobby">
            <header class = "background-primary">
                <h1 id = "game-id"></h1>
                <p>Give your friends this code to start playing</p>
            </header>
            <section class = "background-ternary" id = "info">
                <button style = "display: inline-block; background: white; margin: 32px;">
                    <span id = "player-count">
                        0
                    </span>
                    <span style = "font-size: 12px;">players</span>
                </button>
                <button class = "float-right background-secondary" style = "margin: 32px;" id = "start-game-button">
                    Start Game!
                </button>
            </section>
            <section id = "player-list"></section>
        </div>
        <div class = "page" id = "loading">
            <img src = "/static/loading.gif">
        </div>
        <div class = "page" id = "game">
            <div style = "background:#E0E0E0;height:20px;">
                <div id = "timer" class = "background-ternary" style = "width: 100%;height:100%;"></div>
            </div>
            <header class = "background-primary question_head">
                <img id = "qMan_left" class = "qMan" src = "\static\smallQMan.png"> 
                <img id = "qMan_right" class = "qMan" src = "\static\smallQMan.png">  
                <p id = "qstn">Question #0: Example Question Here</p>
                
            </header>
            <main>
                <button id = "btn1" class = "background-secondary button game-buttons">Answer 1</button>
                <button id = "btn2" class = "background-secondary button game-buttons">Answer 2</button>
                <button id = "btn3" class = "background-secondary button game-buttons">Answer 3</button>
                <button id = "btn4" class = "background-secondary button game-buttons">Answer 4</button>
            </main>
        </div>
        <div class = "page" id = "results">
            <div id = "timer-bar" style = "background:#E0E0E0;height:20px;">
                <div id = "results-timer" class = "background-ternary" style = "width: 100%;height:100%;"></div>
            </div>
            <header id = "results-banner" class = "incorrect">
                <i class = "material-icons">check</i><h1>Correct!</h1>
                <p>(+<span id = "points-gained"></span> points)</p>
                <br>
                <p id = "feedback-text">You correctly said that the answer was:</p>
                <p><b id = "answer-text">scary person</b></p>
            </header>
            <main style = "height: 0">
                <h2>Current Standings</h2>
                <table class = "center-horizontal" id = "results-table"></table>
            </main>
            <div class = "center-horizontal" id = "gameover_buttons">
                    <button id = "play_again_button" href="/play">Play set again</button>
                    <button href="/account" class = "button" id = "return_home_button">Return to home</button>    
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script  src = "\static\game.js"></script>  
    </body>
</html>