<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static\login.css">
        <title>Generic Quiz Game ;)</title>
        <%- include partials/meta.ejs %>
    </head>
    <body> 
        
        <div>
            <h1>GENERIC QUIZ GAME LOGIN</h1>
        </div>
        <h2>Welcome to the game, bud</h2>
        <br>
        <h3>In Loving Memory :'(</h3>
        <img id = 'hmm' src=static\hmm.png>
        <img class ='jake' src=static\Jakey_OwO.jpg>
        <img id = 'hmm2' src=static\hmm.png>
        <h3>11-02-18</h3>
        <br>
        <br>
        <a href = "/auth/google" >
            <button background = "background-secondary" style = "cursor:pointer">
                <img class="gglPhoto" src=static\signInWithGoogle.png>
            </button>
        </a>
    </body>
</html>