body{
    background:  rgba(249, 173, 160, 1);
    color: rgba(249, 98, 125, 1);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 30px;
}
h2{
    font-family: cursive;
}
button{
    border: none;
    padding: 0;
    background: white;
}   
#jake{
    position: relative;
    height: 400px;
    width: auto;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.gglPhoto{
    height: auto;
    width: 340px;
}
@keyframes animation{
    50% {
        background-color: white;
    }
    100%{
        background-color: black;
    }
}
#hmm_left {
    height: 200px;
    width:auto;
    position: relative;
    padding-bottom: 20px;
    right: 15%;
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
#hmm_right {
    height: 200px;
    width: auto;
    position: relative;
    padding-bottom: 20px;
    left: 15%;
    animation: animation 100000s .1s infinite;
    
}
.pics{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}