/* normalize */
body{
    margin: 0;
    box-sizing: border-box;
}

/* theme */
.background-primary{
    background: rgba(131, 182, 146, 1);
}
.background-secondary{
    background: rgba(249, 173, 160, 1)
}
.color-primray{
    color: rgba(131, 182, 146, 1);
}
.color-secondary{
    color: rgba(249, 173, 160, 1);
}

/* components */
/* header */
header{
    height: 256px;
    text-align: center;
    padding-top: 60px;
}
header .pfp{
    border-radius: 50%;
    height: 64px;
}
header h1{
    margin: 0;
}
/* 
.Lists{
    padding-top: 80px;
    width: 50%;
    text-align: center;
    font-family: cursive;
    font-size: 30px
}
li{
    list-style-position: inside;
}
.SetsList{
    float: left;
    text-align: left;
}
.FriendsList{
    float: right;
    text-align: ;
}
*/