/* normalize */
body{
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

/* layout */
.center-text{
    text-align: center
}

/* theme */
.background-primary{
    background: rgba(131, 182, 146, 1);
}
.background-secondary{
    background: rgba(249, 173, 160, 1)
}
.color-primray{
    color: rgba(131, 182, 146, 1);
}
.color-secondary{
    color: rgba(249, 173, 160, 1);
}
h1, h2, h3, h4, h5, h6{
    font-family: "Staatliches", sans-serif;
}

/* components */
/* header */
header{
    text-align: center;
    padding: 64px;
}
header .pfp{
    border-radius: 50%;
    height: 64px;
}
header h1{
    margin: 0;
}
/* main */
main{
    padding: 32px 64px;
    background: #F5F5F5;
}
/* input */
label + input{
    margin-left: 16px;
}
input[type='text']{
    border: none;
    padding: 8px;
    border-bottom: #BDBDBD 1px solid;
    transition: all .3s;
    background: transparent;
}
input[type='text']:focus{
    outline: none;
    border-color: #F9627D;
}
/* button */
button{
    border: none;
    padding: 16px;
    text-transform: uppercase;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: .3s all;
    font-weight: 700;
}
button:active{
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
}
button:focus{
    outline: none;
}

.Lists{
    
    font-family: cursive;
    font-size: 30px;
    display: inline-block;
    transform: translateX(100%);
}

.SetsList{
    float: left;
    padding-right: 50px;
    
}

.FriendsList{
    float: right;
    
    
}

